Repository charmed-hpc/slurm-charms, pull requests merged in 2025-04, with the labels that each got.

#95 feat: automatically manage binary packages from repository.py
  charms/sackd/charmcraft.yaml
  charms/slurmctld/charmcraft.yaml
  charms/slurmctld/pyproject.toml
  charms/slurmd/charmcraft.yaml
  charms/slurmrestd/charmcraft.yaml
  pyproject.toml
  repository.py
  uv.lock
Labels: feature

#96 fix: replace deprecated logger `warn` method
  charms/slurmd/src/utils/rdma.py
Labels: C-slurm, cleanup

#97 feat: migrate charms from auth/munge to auth/slurm
  charms/sackd/src/charm.py
  charms/slurmctld/charmcraft.yaml
  charms/slurmctld/src/charm.py
  charms/slurmctld/src/constants.py
  charms/slurmctld/src/interface_sackd.py
  charms/slurmctld/src/interface_slurmd.py
  charms/slurmctld/src/interface_slurmdbd.py
  charms/slurmctld/src/interface_slurmrestd.py
  charms/slurmctld/tests/unit/test_charm.py
  charms/slurmd/charmcraft.yaml
  charms/slurmd/src/charm.py
  charms/slurmd/src/interface_slurmctld.py
  charms/slurmdbd/charmcraft.yaml
  charms/slurmdbd/src/charm.py
  charms/slurmdbd/src/constants.py
  charms/slurmdbd/src/interface_slurmctld.py
  charms/slurmdbd/tests/unit/test_charm.py
  charms/slurmrestd/charmcraft.yaml
  charms/slurmrestd/src/charm.py
  charms/slurmrestd/src/interface_slurmctld.py
  pyproject.toml
  tests/integration/test_charm.py
  uv.lock
Labels: feature, C-slurm

#98 feat: forward logs to grafana agent in all charms
  charms/slurmd/charmcraft.yaml
  charms/slurmd/pyproject.toml
  charms/slurmd/src/charm.py
  charms/slurmdbd/charmcraft.yaml
  charms/slurmdbd/pyproject.toml
  charms/slurmdbd/src/charm.py
  uv.lock
Labels: feature, C-slurm
